<p id="notice"><%= notice %></p>

<h1 class="ui header">Dishes</h1>

<table class="ui celled table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Ingredients</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @dish.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td>
          <ul>
            <% dish.ingredients.each do |ingredient| %>
                <li>
                  <%= ingredient.name %>
                </li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Show', dish, class: 'ui button' %>
          <%= link_to 'Edit', edit_dish_path(dish), class: 'ui primary button' %>
          <%= link_to 'Destroy', dish, method: :delete, data: {confirm: 'Are you sure?'}, class: 'ui red button' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dish', new_dish_path, class: 'ui green button' %>
