<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>
<h2>Ingredients:</h2>
<% @dish.ingredients.each do |ingredient| %>
    <p>
      <%= ingredient.name %>
    </p>
<% end %>

<h2>Add an Ingredient:</h2>
<%= form_for([@dish, @dish.ingredients.build]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
