<!DOCTYPE html>
<html>
<head>
  <title>Hospo</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<%= render 'layouts/header' %>
<div class="ui bottom attached segment pushable">
  <%= render 'layouts/sidebar' %>
  <div class="pusher">
    <%= yield %>
  </div>
</div>
</body>
</html>
